[submodule "backend/ComfyUI"]
	path = backend/ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI.git
[submodule "backend/SageAttention"]
	path = backend/SageAttention
	url = https://github.com/thu-ml/SageAttention.git
